body {
    width: 300px;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 10px;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.gregorian {
    font-size: 20px;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.lunar {
    font-size: 20px;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.day {
    font-size: 100px;
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.yiji {
    text-orientation: upright;
}

table {
    width: 280px;
}

td, th {
    width: 140px;
    text-align: center;
}

.fortuneTelling {
    text-align: center;
}

img {
    float: right;
    width: 25%;
    max-height: 60px;
}